h1{
    font-family: "Dancing Script", cursive;
}
.carousel-item img{
    width: 100%;
    height: 80vh;
}
.accordion-item {
    width: 10px;
  max-height: 120px; 
  overflow-y: auto;   
  padding: 10px;      
}

.accordion-button {
  padding: 10px 15px; 
  font-size: 1rem;    
}
.card-body img{
  min-width: 50%;
  max-height: 200px;
}
.contact img{
  max-width: 100%;
}